<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Slider</title>
<style>
    
  .slideshow-container {
    position: relative;
    width: 600px;
    margin: auto;
    overflow: auto;
    
  }

  .slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  .mySlides {
    min-width: 100%;
    box-sizing: border-box;
  }

 

  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 30px;
  }

  .prev-btn {
    left: 10px;
  }

  .next-btn {
    right: 10px;
  }
</style>
</head>
<body>

<div class="slideshow-container">
  <div class="slider">
    <div class="mySlides fade">
        <div class="numbertext">5 / 102</div>
        <!-- --------------------- page 5 start--------------------------- -->
        <p class="fifth">
        
        <h1 style="text-align: center;" id="Preliminary">CHAPTER I
            <br>
            PRELIMINARY</h1>
        
        <br>
        <b id="Short_title">1. Short title, extent and commencement.—(1)</b> This Act may
        <br>
        be called the Federal Excise Act, 2005,
        <br><br>
        2. It extends to the whole of Pakistan
        <br><br>
        3. It shall come into force on 1st day of July, 2005.
        <br><br>
        2. Definitions.—In this Act, unless there is anything repugnant
        <br>
        in the subject or context,—
        <br><br>
        (1) “adjudicating authority” means any authority competent to
        <br>
        pass any order or decision under this Act or the rules made
        <br>
        there under, but does not include the Board or Appellate
        <br>
        Tribunal;
        <br><br>
        (2) “adjustment” means deduction of amount of duty paid on
        <br>
        goods used in the manufacture or production of other goods
        <br>
        from the amount of duty payable on such other goods in the
        <br>
        prescribed manner;
        <br><br>
        <sup data-tooltip="Clause (3) Substituted by Finance Act, 2010 w.e.f.  June 5, 2010. The same amendment was made by Finance (Amendment) Ordinance, 2010, promulgated as Ordinance No. III of 2010, dated February 6, 2010, published in the Gazette of Pakistan Extraordinary Part I at pages 23 to 53. This Ordinance was presented in the Parliament but lapsed on 5 june 2010 as Parliament did not approve it. Originally this amendment was made through Finance (Amendment) Ordinance, 2009, promulgated as Ordinance No. XXII of 2009, dated October 28, 2009, published in the Gazette of Pakistan Extraordinary Part I at pages 229 to 259.">
            1
        </sup>
        [(3) “Appellate Tribunal” means the Appellate Tribunal Inland
        <br>
        Revenue established under section 130 of the Income Tax
        <br>
        Ordinance, 2001 (XLIX of 2001);]
        <br><br>
        <sup data-tooltip="Substituted vide Finance Act, 2007">
            2
        </sup>
        [(4) “Board” means the Federal Board of Revenue established
        <br>
        under the Central Board of Revenue Act, 1924 (IV of 1924)
        <br>
        and on the commencement of the Federal Board of Revenue
        <br>
        Act, 2007, the Federal Board of Revenue established under
        <br>
        section 3 thereof;]
        <br><br>
        
        <br>
        <br><br><hr><span class="pagenum" ><b>Page : 5</b></span><hr> 
        </p>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">6 / 102</div>
            <!-- --------------------- page 6 start--------------------------- -->
            <p class="sixth">
            
            <sup data-tooltip="Clause (4A) Substituted by Finance Act, 2010 w.e.f. June 5, 2010. The same amendment was made by Finance (Amendment) Ordinance, 2010, promulgated as Ordinance No. III of 2010, dated February 6, 2010, published in the Gazette of Pakistan Extraordinary Part I at pages 23 to 53. This Ordinance was presented in the Parliament but lapsed on 5 june 2010 as Parliament did not approve it. Originally this amendment was made through Finance (Amendment) Ordinance, 2009, promulgated as Ordinance No. XXII of 2009, dated October 28, 2009, published in the Gazette of Pakistan Extraordinary Part I at pages 229 to 259.">
                1
            </sup>
            [(4A) “Chief Commissioner” means a person appointed as the Chief
            <br>
            Commissioner Inland Revenue under section 29;]
            <br><br>
            <sup data-tooltip="Clause (5) Substituted by Finance Act, 2010 w.e.f. June 5, 2010. The same amendment was made by Finance (Amendment) Ordinance, 2010, promulgated as Ordinance No. III of 2010, dated February 6, 2010, published in the Gazette of Pakistan Extraordinary Part I at pages 23 to 53. This Ordinance was presented in the Parliament but lapsed on 5 June 2010 as Parliament did not approve it. Originally this amendment was made through Finance (Amendment) Ordinance, 2009, Promulgated as Ordinance No. XXII of 2009, dated October 28, 2009, published in the Gazette of Pakistan Extraordinary Part I at pages 229 to 259">
                2
            </sup>
            [(5) “Commissioner” means a person appointed as a
            <br>
            Commissioner Inland Revenue under section 29;]
            <br><br>
            (6) “conveyance” means any means of transport used for carrying
            <br>
            goods or passengers such as vessel, aircraft, vehicle or animal
            <br>
            etc.;
            <br><br>
            (7) “default surcharge” means surcharge levied under section 8;
            <br><br>
            (8) “distributor” means a person appointed by a manufacturer in or
            <br>
            for a specified area to purchase goods from him for sale to a
            <br>
            wholesale dealer in that area;
            <br><br>
            <sup data-tooltip="Inserted vide Finance Act, 2006">
                3
            </sup>
            [(8a) “due date”, in relation to furnishing a return under section 4,
            <br>
            means the 15th day of the month following the end of the
            <br>
            month, or such other date as the <sup data-tooltip=" Substituted for the words “Federal Government” by Finance Act, 2017">4</sup>[Board] may, by notification
            <br>
            in the official Gazette, specify <sup data-tooltip=" Expression for full stop at end substituted through Finance Act, 2016">5</sup>[and different dates may be
            <br>
            specified for furnishing of different parts or annexures of the
            <br>
            return].
            <br><br>
            <sup data-tooltip="Inserted vide Finance Act, 2007.">
                6
            </sup>
            [(8b) “dutiable goods” means all excisable goods specified in the
            <br>
            First Schedule except those which are exempt under section
            <br>
            16 of the Act;
            <br><br>
            (8c) “dutiable supply” means a supply of dutiable goods made by a
            <br>
            manufacturer other than a supply of goods which is exempt
            <br>
            under section 16 of the Act;
            <br><br>
            <br><br><hr><span class="pagenum" ><b>Page : 6</b></span><hr>
            
            </p>
            </div>
            <div class="mySlides fade">
                <div class="numbertext">7 / 102</div>
                <!-------------------  page 7 start  ------------------>
                <p class="seventh">
                (8d) “dutiable services” means all excisable services specified in
                <br>
                the First Schedule except those which are exempt under
                <br>
                section 16 of the Act;
                <br><br>
                (9) “duty” means any sum payable under the provisions of this
                <br>
                Act or the rules made there under and includes the default
                <br>
                surcharge and the duty chargeable at the rate of zero percent
                <br>
                <sup data-tooltip="Words inserted by Finance Act, 2022">
                    1
                </sup>
                [excluding fee and service charges imposed and collected
                <br>
                under section 49;]
                <br><br>
                <sup data-tooltip="Inserted vide Finance Act, 2008.">
                    2
                </sup>
                (9a) “duty due” means duty in respect of supplies
                <br>
                made or services provided or rendered during a month and
                <br>
                shall be paid at the time of filing of return;
                <br><br>
                (10) “establishment” includes an undertaking, firm or company,
                <br>
                whether incorporated or not, an association of persons and an
                <br>
                individual;
                <br><br>
                (11) “factory” means any premises, including the precincts thereof,
                <br>
                wherein or in any part of which goods are manufactured, or
                <br>
                wherein or in any part of which any manufacturing process
                <br>
                connected with the production of the goods is being carried on
                <br>
                or is ordinarily carried on;
                <br><br>
                <sup data-tooltip="Clause (12) Substituted by Finance Act, 2010 w.e.f. June 5, 2010. The Finance Ordinance states clause 12 to be substituted by “(12A)”, however (12a) is already present in the Finance Ordinance. The same amendment was made by Finance (Amendment) Ordinance, 2010, promulgated as Ordinance No. III of 2010, dated February 6, 2010, published in the Gazette of Pakistan Extraordinary Part I at pages 23 to 53. This Ordinance was presented in the Parliament but lapsed on 5 June 2010 as Parliament did not approve it. Originally this amendment was made through Finance (Amendment) Ordinance, 2009, promulgated as Ordinance No. XXII of 2009, dated October 28, 2009, published in the Gazette of Pakistan Extraordinary Part I at pages 229 to 259">
                    3
                </sup>
                [<sup data-tooltip="Clause (12A) re-numbered as (12) by Finance Act, 2012">4</sup>[(12)] “Officer of Inland Revenue” means any person appointed by
                <br>
                the Board as officer of Inland Revenue under section 29 or any
                <br>
                person (including an officer of the Provincial Government)
                <br>
                entrusted by the Board with any of the powers of an officer of
                <br>
                Inland Revenue under this Act or rules made there under;]
                <br><br>
                <br>
                
                <br><br><hr><span class="pagenum" ><b>Page : 7</b></span><hr>
                </p>
                </div>
                <div class="mySlides fade">
                    <div class="numbertext">8 / 102</div>
                    <!-------------------  page 8 start  ------------------>
                    <p>
                    <sup data-tooltip="Clause (12a) inserted by Finance Act, 2008">
                        1
                    </sup>
                    (12a) “franchise” means an authority given by a franchiser under
                    <br>
                    which the franchisee is contractually or otherwise granted any
                    <br>
                    right to produce, manufacture, sell or trade in or do any other
                    <br>
                    business activity in respect of goods or to provide service or
                    <br>
                    to undertake any process identified with franchiser against a
                    <br>
                    fee or consideration including royalty or technical fee,
                    <br>
                    whether or not a trade mark, service mark ,trade name, logo,
                    <br>
                    brand name or any such representation or symbol, as the case
                    <br>
                    may be, is involved;”
                    <br><br>
                    (13) “goods” means goods leviable to excise duty under this Act or
                    <br>
                    as specified in the First Schedule and includes goods
                    <br>
                    manufactured or produced in non-tariff area and brought for use
                    <br>
                    or consumption to tariff area;
                    <br><br>
                    (14) “goods insurance” includes fire, marine, theft, accident and
                    <br>
                    other such miscellaneous insurance;
                    <br><br>
                    (15) “import” and “export” mean respectively bringing into, and
                    <br>
                    taking out of Pakistan by sea, land or air and shall be
                    <br>
                    deemed to have always been so defined;
                    <br><br>
                    <sup data-tooltip="Inserted vide Finance Act, 2009">
                        2
                    </sup>
                    (15a) “KIBOR” means Karachi Inter Bank Offered Rate prevalent
                    <br>
                    on first day of each quarter of the financial year;”
                    <br><br>
                    (16) “manufacture” includes,—
                    <br><br>
                    (a) any process incidental or ancillary to the completion of a
                    <br>
                    manufactured product;
                    <br><br>
                    (b) any process of re-manufacture, remaking, reconditioning
                    <br>
                    or repair and the processes of packing or repacking such
                    <br>
                    product, and, in relation to tobacco, includes the
                    <br>
                    preparation of cigarettes, cigars, cheroots, biris, cigarette
                    <br>
                    and pipe or hookah tobacco, chewing tobacco or <sup data-tooltip="Substituted for “snuff,” by Finance Act, 2011">3</sup>[snuff,
                    <br>
                    or preparation of unmanufactured tobacco by drying,
                    <br>
                    cutting and thrashing of raw tobacco,] and the word
                    <br><br>
                    <br><br><hr><span class="pagenum" ><b>Page : 8</b></span><hr>
                    
                    </p>
                    </div>
                    
        
        </div>

  <div class="slider-btn prev-btn" onclick="changeSlide(-1)">❮</div>
  <div class="slider-btn next-btn" onclick="changeSlide(1)">❯</div>
</div>
<div class="content_bar" style="position: fixed; height: 20%; width: 20%; left: 0; ; top: 0; overflow: auto;">
<table border="1px solid black" style="border-collapse: collapse; ">
    <tr>
        <td>Sno.</td>
        <td>Content</td>
        <td>Page</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="javascript:void(0);" onclick="showSlide(0)"> social Media ROI </a></td>
        <td>1</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="javascript:void(0);" onclick="showSlide(1)">The Anatomy of Buzz</a></td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="javascript:void(0);" onclick="showSlide(2)">rich dad poor dad</a></td>
        <td>3</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="javascript:void(0);" onclick="showSlide(3)">competitor</a></td>
        <td>4</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="javascript:void(0);" onclick="showSlide(3)">competitor</a></td>
        <td>4</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="javascript:void(0);" onclick="showSlide(3)">competitor</a></td>
        <td>4</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="javascript:void(0);" onclick="showSlide(3)">competitor</a></td>
        <td>4</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="javascript:void(0);" onclick="showSlide(3)">competitor</a></td>
        <td>4</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="javascript:void(0);" onclick="showSlide(3)">competitor</a></td>
        <td>4</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="javascript:void(0);" onclick="showSlide(3)">competitor</a></td>
        <td>4</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="javascript:void(0);" onclick="showSlide(3)">competitor</a></td>
        <td>4</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="javascript:void(0);" onclick="showSlide(3)">competitor</a></td>
        <td>4</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="javascript:void(0);" onclick="showSlide(3)">competitor</a></td>
        <td>4</td>
    </tr>
    <tr>
        <td>4</td>
        <td><a href="javascript:void(0);" onclick="showSlide(3)">competitor</a></td>
        <td>4</td>
    </tr>
</table>
</div>
<script>
let currentSlide = 0;

function showSlide(n) {
  const slides = document.querySelectorAll('.mySlides');

  if (n >= slides.length) {
    currentSlide = 0;
  } else if (n < 0) {
    currentSlide = slides.length - 1;
  } else {
    currentSlide = n;
  }

  slides.forEach(mySlides => mySlides.style.display = 'none');
  slides[currentSlide].style.display = 'block';
}

function changeSlide(n) {
  showSlide(currentSlide + n);
}
</script>

</body>
</html>
